<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylsheet" href="css/css.css"
</head>
<body>
  <!-- Your main layout page must container the markup that will be common throughout the web application in multiple web pages -->
  
   <header>

      This is my header area


   </header>
   <nav>
      <a href="/"> Principal </a>
      <a href="/aboutUs"> About Us </a>
      <a href="/contactUs"> Contact Us </a>
      <a href="/nombramientos/SAE"> Nombramientos SAE </a>
      

   </nav>
 
    <section id="main">
      {{{body}}}
    </section>
  
    <footer>
        This is my footer 
    </footer>
</body>
</html>