<h1> Sobre esta web </h1>
<br>

<h3>Contenido automático &#129302;</h3>
<p>El contenido que consultas en esta web se actualiza de forma autmática. La aplicación se conecta al BOJA, comprueba si hay nuevos datos de interés, y cuando los encuentra los incorpora a una base de datos online, que puede consultarse en cualquier momento.

<h3>Actualización diaria &#128198;</h3>
<p>La actualización principal se realiza diariamente a primera hora de la mañana. Además, se realiza una segunda comprobación por la tarde, para comprobar si hay una edición extraordinaria.
<br>
Cuando detecta la publicación de un nuevo número de BOJA, la aplicación envía mensajes de aviso al grupo de Telegram correspondiente a cada Organismo de los que están siendo monitorizados: un aviso por el nuevo número, y otro con los nombramientos detectados (o sin novedad).
</p>

<h3>Contacto &#128231; </h3>
<p>Puedes contactar conmigo a través de <a href="https://www.linkedin.com/in/luisgentilalperiz/">Linkedin</a>. </p>
