<h1> Nombramientos SAE </h1>
<p>Los datos sobre el estado de la base de datos son los siguientes:</p>
<p><u>Último BOJA registrado</u>: <span id="ss">{{{datos.boja}}}</span>.</p>
<p><u>Fecha</u>: {{datos.fechaTxt}}</p>
<br>
<!---p>El siguiente gráfico incluye el total de ediciones revisadas, incluyendo los números extraordinarios:
(Suele tardar algunos segundos en aparecer)</p>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-boja-ttabm/embed/charts?id=661e2e72-1dfa-47f8-84c1-ae504f10f7ee&maxDataAge=86400&theme=light&autoRefresh=true"></iframe--->
<h5> Nombramientos + MongoDB Boja activo.</h5>
