<h1> Nombramientos </h1>
<p>Esta web es una aplicación demostrativa de las posibilidades de la <b>automatización</b> de tareas en internet.</p>
<p>En esta web se recogen los nombramientos publicados en BOJA, desde el 1 enero 2024, para varios organismos de la
  Junta de Andalucía.</p>
<p>Diariamente la aplicación se encarga de:</p>
<ul>
  <li>Consulta el BOJA (Boletín Oficial de la Junta de Andalucía),</li>
  <li>Si encuentra un nuevo número: envía un mensaje mediante Telegram a una lista de suscriptores,</li>
  <li>Comprueba el contenido en el apartado de Nombramientos,</li>
  <li>Si encuentra algún nombramiento en alguno de los organismos que sigue: extrae el texto de cada nombramiento,</li>
  <li>Envía el resultado de la consulta a la lista de suscriptores en Telegram,</li>
  <li>Registra el resultado en una Base de Datos online.</li>
</ul>
<p>Desde esta web se pueden consultar los nombramientos para cada uno de los organimos que comprobamos diariamente, que
  en la actualidad son:</p>
  <a href="/organismos"><div class="mx-auto" style="width: 200px;">
  <button class="btn btn-primary "> Ver lista de organismos</button>
</div></a>
<br>
<p>Si deseas recibir un mensaje de aviso con cada nuevo nombramiento hazte seguidor del grupo en
  <b>Telegram</b> haciendo click en el banner lateral.</p>
<br>
